.page-link h2 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.2em;
  color: rgb(46, 45, 45);
  cursor: pointer;
  transition: 0.5s;
}

.page-link h2:hover {
  color: #fbda61;
}

.components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.components .item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
